<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Clear Pokemon Search History</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<style>
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    body{
        background: #d1fffc;
        font-family: Ubuntu;
    }
</style>

<body>
    <div>
        <h1>Cleared Pokemon Search/Database History</h1>
        
        All pokemon have been removed from history. Number of pokemon removed: <%- numRemoved %>

        <br><br>
        <a href="/">HOME</a>
    </div>
</body>

</html>

